@import "variables";

.status-color {
    &.canceled {
        color: #9b0404;
    }

    &.schedule {
        color: #e68e65;
    }

    &.finished {
        color: #097349;
    }

    &.neutral {
        color: #6c6c6c;
    }

    &.waiting {
        color: #45b194;
    }

    &.interest {
        color: #5852cc;
    }

    &.interest_with_objection {
        color: #cc52ab;
    }

    &.interest_with_objection {
        color: #cc52ab;
    }

    &.schedule_test {
        color: #5aa03c;
    }
}

.status-color-bgtop {
    &.Oportunidade {
        border-top: 4px solid rgb(199, 201, 57);
    }

    &.Não.Qualificado {
        border-top: 4px solid #d3561b;
    }

    &.Aguardando {
        border-top: 4px solid #c12d7c;
    }

    &.Provável.Qualificação {
        border-top: 4px solid #6a0082;
    }

    &.Qualificado {
        border-top: 4px solid #43a228;
    }

    &.Convertido {
        border-top: 4px solid #233396;
    }
}

.modern-scroll {
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
    }

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
}

.btn {
    &:disabled {
        cursor: not-allowed;
    }
}

.badge-new {

    sup {
        top: -4px!important;
        right: -5px!important;
        height: 21px!important;
        padding: 0px 10px!important;
        font-size: 10px!important;
    }
}

ol.breadcrumb {
    margin-top: 10px!important;
}

.small-loading-balls {
    .spinner-grow {
        height: 14px!important;
        width: 14px!important;
    }
}



.welcome-page {
    color: #333;
    font-weight: 400;
    .name {
        font-weight: 600;
        font-size: 70px;
        @media screen and (max-width: 991px) {
            font-size: 30px!important;
        }
    }

    p {
        font-size: 16px;

       
    }

    .sm-center {
        @media screen and (max-width: 991px) {
            text-align: center!important;
        }
    }

    .sm-mt-4 {
        @media screen and (max-width: 991px) {
            margin-top:20px!important;
        }
    }
}


#table-log_filter label {
    width: 100% !important;
}

#table-log_length label {
    width: 50% !important;
}

#table-log_paginate {
    display: flex;

    .pagination {
        margin-left: auto;
    }

}